.total1{
    position: relative;
    top:100px;
    width: 50%;
    margin:0 auto;
    padding: 1%;
    min-width: 900px;
}
.author1{
    position: relative;
    width:25%;
    height: 200px;
    float:left;
    right:-73%;
    top:-330px;
}
.body1{
    position: absolute;
    top: 370px;
    width: 68%;
}